<! DOCTYPE html>
<html lang="es">
	<head>
		<title> Portafolio Online</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="../static/css/Diseño.css">
		<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">

	</head>
	<body>
		<header id="Yo" class="Header">
			<nav class="MainMenu">
				<ul class="MainMenu-list">
					<li class="MainMenu-item">
						<a class="MainMenu-link" class="MainMenu" href="#Yo">Yo</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" class="MainMenu" href="#Perfil">Perfil</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link"  class="MainMenu" href="#Trabajo">Trabajo</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link"  class="MainMenu " href="#Contacto">Contacto</a>
					</li>
				</ul>
			</nav>
			<figure clss="Header-imageContainer">
				<img src="avatar.jpg" alt="Avatar" class="Header-imagen"/>
				<figcaption class="Header-imageDescription">
					<a  class="Header-link "href="http://www.twitter.com/tephymanrique/" target="_blank">@TephyManrique</a>
				</figcaption>
				<p Class="Header-name">Steph Manrique</p>
			</figure>
		</header>
		<section id="Perfil" class="Profile">
			<h2 class="Profile-Tittle u-title">Mi Perfil</h2>
			<p class="Profile-Description">
				Hola llegaste hasta aqui puedes ver mi portafolio y contactame
			</p>
			<a Class="Profile-link" href="http://www.twitter.com/tephymanrique/" target="_blank">@TephyManrique</a>
			<a Class="Profile-link" href="https://www.facebook.com/Stephmlez/" target="_blank">Stephany Manrique</a>
		</section>
		<section id="Trabajo" class="work">
			<h2 class="work-Tittle u-title">Mi Trabajo</h2>
			<article  class="Work-Item">
				<figure class="Work-ImageContainer" >
					<img  Class="Work-image"src="" alt="esta es la descripcion de mi imagen">
					<figcaption class="work-Description"> website de mejorando.la
					</igcaption>
			</article>
				<article class="Work-Item">
				<figure class="Work-ImageContainer" >
					<img class="work_image" src="" alt="esta es la descripcion de mi imagen">
					<figcaption class="work-Description"> website de mejorando.la
					</figcaption>
			</article>
				<article class="Work-Item">
				<figure class="Work-ImageContainer" >
					<img class="Work-image" src="" alt="esta es la descripcion de mi imagen">
					<figcaption class="work-Description" 	> website de mejorando.la
					</figcaption>
			</article>
				<article class="Work-Item">
				<figure class="Work-ImageContainer" >
					<img class="Work-image" src="" alt="esta es la descripcion de mi imagen">
					<figcaption class="work-Description" > website de mejorando.la
					</figcaption>
			</article>
		</section>
		<footer id="Contacto" class="Footer">
			<h3 class="Footer-title">Contacto
			</h3>
			<p class="Footer-description">Si tienes una sugerencia o quieres trabajar conmigo ponte en contacto con este formulario</p>
			<form class="Footer-form">
				<input class="Footer-formInput" type="text" placeholder="Nombre"/>
				<input class="Footer-formInput"type="email" placeholder="Email"/>
				<textarea class="Footer-textArea"></textarea>
				<button  class="Footer-Button " type="submit" text="Contactame">Contactanos</button>
			</form>
		</footer>
	</body>
</html>